_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

#ignored but retained for useful tips and instructions
_posts\2024-01-14-welcome-to-jekyll.markdown

# ignore files not relevant to general public
QRcode_idioms with jill_lapl.png
Library resources.odt

# ignore files I did not create
in_the_loop_pages.pdf